.forgot-password {
    background-color: #ef5aa0;
    padding: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50rem;
    min-height: 20rem;
}