.landing-main {
    width: 80%;
}

.search-input {
    width: 60rem;
}

.search-input-container {
    display: flex;
}

.search-select {
    width: 12rem;
    margin-left: 1rem;
}

.results-container {
    background-color: #ef5aa0;
    position: fixed;
    max-height: 40rem;
    width: 50rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 100000;
}